<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 p-6">
    <div>
        <h4>Primary</h4>
        <div class="bg-primary w-full h-16"></div>
    </div>
    <div>
        <h4>Accent</h4>
        <div class="bg-accent w-full h-16"></div>
    </div>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 p-6">
    <div>
        <h4>Blue</h4>
        <div class="bg-blue w-full h-16"></div>
    </div>
    <div>
        <h4>Pink</h4>
        <div class="bg-pink w-full h-16"></div>
    </div>
    <div>
        <h4>Green</h4>
        <div class="bg-green w-full h-16"></div>
    </div>
    <div>
        <h4>Yellow</h4>
        <div class="bg-yellow w-full h-16"></div>
    </div>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 p-6">
    <div>
        <h4>Gray</h4>
        <div class="bg-gray w-full h-16"></div>
    </div>
    <div>
        <h4>Dark</h4>
        <div class="bg-gray-dark w-full h-16"></div>
    </div>
    <div>
        <h4>Light</h4>
        <div class="bg-gray-light w-full h-16"></div>
    </div>
</div>
