.listing--posts {
    @apply relative;

    ul {
        @apply grid grid-cols-1 gap-6 py-6 -mx-6;

        @screen md {
            @apply grid-cols-2 mx-0;
        }
    }

    li {
        @apply p-6 pb-0 border border-gray border-b-0;

        @screen md {
            @apply p-4 border rounded;
        }
    }

    a {
        @apply block;
    }

    a:hover,
    a:focus,
    a:active {
        .post__title {
            @apply bg-accent;
        }
    }

    li > .post {
        .post__title {
            @apply text-2xl;
        }

        .post__summary {
            @apply text-sm;
        }
    }
}
