.navigation {
    @apply flex self-center;

    ul {
        @apply flex justify-center;
    }

    li {
        @apply flex lowercase mx-3;

        > a {
            @apply block py-2 border-transparent border-b-2;

            &:hover,
            &:focus,
            &:active {
                @apply border-accent;
            }
        }

        &.active a {
            @apply border-primary;
        }
    }
}
