@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "config";

@import "../components/layout/header/header";
@import "../components/layout/footer/footer";
@import "../components/layout/navigation/navigation";

@import "../components/movie/movie";
@import "../components/blog/blog";

@import "../components/ui/code/code";
@import "../components/ui/alert/alert";
@import "../components/ui/avatar/avatar";
@import "../components/ui/blurb/blurb";

@import "../components/button/button";
@import "../components/icon/icon";

.listing {
    @apply relative mx-auto max-w-screen-xl;
}
