<div class="post">
  <h3 class="post__title">{{titlecase post.title }}</h3>
  <p class="date post__date">{{date post.date }}</p>
  <div class="post__content typography">
      {{{ post.html }}}

      {{ render '@code--html' }}
  </div>
</div>
