<div class="post">
  <div class="post__inner">
    <h3 class="post__title">{{titlecase post.title }}</h3>
    <p class="date post__date">{{date post.date }}</p>
    <div class="post__content">
        {{{ post.html }}}

        {{!-- {{ render '@code--html' }} --}}
    </div>
  </div>
</div>
