

<div class="about">
  <div class="about__primary">
    <div class="avatar avatar--circle">
  <img src="../../images/avatar.jpg" alt="" title="" />
</div>


    <div class="typography about__content">
      <p>I am a web developer working with designers and
small agencies in and around the Midlands, UK.</p>
<p>I develop usable and accessible front-end interfaces using web standards,
including semantic HTML, CSS for layout and visual design, and JavaScript for
progressive user interface enhancements.</p>
<p>On the server side, I primarily develop using PHP and MySQL. I am confident developing
large scale applications using Laravel and solutions using WordPress.</p>
<p>For a more detailed view of my professional work, <a href="page-about-cv">view my CV</a>.</p>

    </div>
  </div>

  <div class="about__secondary">
    <div class="about__extra">
      <h3 class="about__extra__title">The Multipack</h3>
      <p>I am a prominent member of the Multipack. I helped organise this community
of multi-talented web professionals. Once a month we got together in Birmingham
and discuss design, code standards and technology over a nice pint or two.</p>

    </div>
    <div class="about__extra">
      <h3 class="about__extra__title">Geek in the Park</h3>
      <p>I organised Geek in the Park, an all-day event which started in 2006.
It involved a relaxing afternoon picnic in an English park followed by
illuminating talks by web industry leaders in the evening.</p>

    </div>
  </div>

  <div class="listing listing--social">
  <ul>
      <li class="social social--facebook">
        <a href="https://www.facebook.com/trovster" rel="external">Facebook</a>
      </li>
      <li class="social social--twitter">
        <a href="https://twitter.com/trovster" rel="external">Twitter</a>
      </li>
      <li class="social social--github">
        <a href="https://github.com/trovster" rel="external">GitHub</a>
      </li>
      <li class="social social--instagram">
        <a href="https://instagram.com/trovster" rel="external">Instagram</a>
      </li>
      <li class="social social--lastfm">
        <a href="https://www.last.fm/user/trovster" rel="external">Last.fm</a>
      </li>
      <li class="social social--linkedin">
        <a href="https://www.linkedin.com/in/trovster/" rel="external">LinkedIn</a>
      </li>
  </ul>
</div>


</div>

