

<div class="post">
  <div class="post__inner">
    <h3 class="post__title">Eius Sequi Corporis</h3>
    <p class="post__date">28th October 2019</p>
    <div class="post__content">
        <p>Nihil fugiat aut nostrum necessitatibus quam temporibus ex dolor temporibus. Maiores quia quis ipsam cupiditate quia qui qui accusantium eum. Placeat esse quidem quam harum cumque. Ipsam eos sint asperiores nostrum est dolores architecto quo omnis.</p><p>Molestias omnis dolore. Velit soluta alias id est totam distinctio suscipit ut est. Aspernatur dolorum hic. Porro soluta provident.</p><p>Iste dignissimos aut saepe dolorem laboriosam rerum. Mollitia vero animi nulla et libero magnam fuga illum. Voluptatibus nemo omnis. Reprehenderit occaecati et facilis. Ut eaque nihil impedit quam aperiam maxime nam.</p><p>Facere error nulla. Perspiciatis et rerum molestiae. Id aperiam ipsum a qui rem vero fugiat magnam.</p><p>Qui blanditiis quisquam. Autem id alias necessitatibus adipisci dolor reprehenderit aut tempore amet. Ducimus sint eos odit reiciendis. Nam ut commodi voluptas ut. Quaerat eum ad nulla enim nobis.</p>

        <pre class="code code--html"><code>&lt;!DOCTYPE html&gt;
&lt;title&gt;Title&lt;/title&gt;
&lt;body&gt;
  &lt;h1 class&#x3D;&quot;text-lg color-gray-500&quot;&gt;Title&lt;/h1&gt;
  &lt;!-- here goes the rest of the page --&gt;
&lt;/body&gt;</code></pre>

    </div>
  </div>
</div>

