

<div class="listing listing--posts">
  <ul>
      <li>
        <a href="page-blog-detail" class="post">
          <h3 class="post__title">Aliquam Nulla Atque</h3>
          <p class="date post__date">1st August 2019</p>
          <div class="post__summary">
            <p>Earum assumenda nesciunt voluptas quae quibusdam ratione quis. Delectus accusamus amet inventore consequuntur amet ad dolorum voluptates. Aliquid sapiente culpa magni temporibus incidunt sed. Voluptate eligendi sed possimus autem sed dolor nam sed sit. Nisi voluptas officiis enim. Minima placeat voluptate est a temporibus.</p>
          </div>
      </a>
      </li>
      <li>
        <a href="page-blog-detail" class="post">
          <h3 class="post__title">Quasi Voluptatem Blanditiis</h3>
          <p class="date post__date">7th November 2019</p>
          <div class="post__summary">
            <p>Qui facere impedit quae. Quaerat tempora sint deleniti. Sed aspernatur voluptatibus optio. Commodi perspiciatis ut doloremque quam est et dolore dicta blanditiis. Quos recusandae enim magni perferendis sequi voluptatum et minima. Laudantium sapiente autem est voluptatem consectetur sunt veniam.</p>
          </div>
      </a>
      </li>
      <li>
        <a href="page-blog-detail" class="post">
          <h3 class="post__title">Libero Dolores Assumenda</h3>
          <p class="date post__date">16th February 2020</p>
          <div class="post__summary">
            <p>Rerum autem est est quod alias. Non numquam facilis. Nemo voluptatum aut.</p>
          </div>
      </a>
      </li>
      <li>
        <a href="page-blog-detail" class="post">
          <h3 class="post__title">Et Aliquam Fuga</h3>
          <p class="date post__date">27th October 2019</p>
          <div class="post__summary">
            <p>Ab saepe qui ut repudiandae aliquam alias ut labore corrupti. Voluptatem consectetur veniam at natus nihil ut id ullam. Repellendus corrupti corrupti quaerat placeat quaerat sequi vel. Qui sunt et porro repellendus blanditiis in beatae non. Quis a quo tempore inventore modi aut.</p>
          </div>
      </a>
      </li>
  </ul>
</div>

