

<div class="listing listing--posts">
    <a href="page-blog-detail" class="post">
      <div class="post__inner">
        <h3 class="post__title">Est A Soluta</h3>
        <p class="post__date">12th January 2020</p>
        <div class="post__summary">
          <p>Est deserunt tenetur quos ullam necessitatibus ipsa. Sed quis pariatur sit magnam cupiditate aut architecto porro. Et sapiente consequatur neque omnis numquam. Odit esse tempora facilis recusandae exercitationem voluptas.</p>
        </div>
      </div>
    </a>
    <a href="page-blog-detail" class="post">
      <div class="post__inner">
        <h3 class="post__title">Dolor Cum Numquam</h3>
        <p class="post__date">13th August 2019</p>
        <div class="post__summary">
          <p>Nostrum corporis qui vel quam. Et ea fuga ad non porro incidunt sed. Repellat voluptatem ut dicta. Sequi eaque laudantium quod est veritatis fuga quasi earum. Aspernatur dolor in vitae enim id.</p>
        </div>
      </div>
    </a>
    <a href="page-blog-detail" class="post">
      <div class="post__inner">
        <h3 class="post__title">Non Aut Nobis</h3>
        <p class="post__date">25th June 2019</p>
        <div class="post__summary">
          <p>Libero natus vel et consectetur dolores voluptas adipisci. Itaque et voluptas debitis dicta alias corrupti. Eius officia assumenda voluptatem autem consequatur et qui vero. Et vel dolorem repellat quo molestiae accusamus neque doloribus.</p>
        </div>
      </div>
    </a>
    <a href="page-blog-detail" class="post">
      <div class="post__inner">
        <h3 class="post__title">Vel Qui Voluptas</h3>
        <p class="post__date">16th January 2020</p>
        <div class="post__summary">
          <p>Corrupti aut sed et quia distinctio nulla suscipit. A repellendus qui consectetur sint non impedit nulla sunt tenetur. Voluptatem officia nam est. Maxime commodi qui et. Assumenda labore quos accusamus ut. Sapiente quia numquam ut et nesciunt voluptas voluptas placeat architecto.</p>
        </div>
      </div>
    </a>
    <a href="page-blog-detail" class="post">
      <div class="post__inner">
        <h3 class="post__title">Distinctio Harum Dolor</h3>
        <p class="post__date">3rd July 2019</p>
        <div class="post__summary">
          <p>Temporibus earum aut natus fugiat vero ullam est quaerat nesciunt. Placeat aut minima amet. Impedit aspernatur nihil sapiente non tenetur voluptas a alias. Qui porro qui nostrum delectus velit sint. Quae sed inventore omnis laudantium voluptas eos fugit error ipsam.</p>
        </div>
      </div>
    </a>
    <a href="page-blog-detail" class="post">
      <div class="post__inner">
        <h3 class="post__title">Ut Voluptas Quia</h3>
        <p class="post__date">6th August 2019</p>
        <div class="post__summary">
          <p>Qui molestiae facere quis. Occaecati doloribus recusandae libero et magni assumenda id quo quam. Debitis et dolores saepe dolor ut molestiae dolorum perspiciatis blanditiis. Et porro voluptates architecto minus labore qui odit esse minus. Voluptatum eum sed culpa quas placeat.</p>
        </div>
      </div>
    </a>
    <a href="page-blog-detail" class="post">
      <div class="post__inner">
        <h3 class="post__title">Aut A Voluptas</h3>
        <p class="post__date">11th November 2019</p>
        <div class="post__summary">
          <p>Aut dolor quis libero quia dolore fugit sit. Quia vel reprehenderit illum sit aut repellendus labore a omnis. Deserunt sit sed cumque natus doloremque reiciendis excepturi et in. Cumque officiis iusto nemo et vel aliquid. Distinctio corporis tempore fuga dolores sed corrupti molestiae ratione. Et dolores itaque aliquam aperiam ut consectetur at.</p>
        </div>
      </div>
    </a>
    <a href="page-blog-detail" class="post">
      <div class="post__inner">
        <h3 class="post__title">Unde Recusandae Natus</h3>
        <p class="post__date">26th June 2019</p>
        <div class="post__summary">
          <p>Non soluta vel molestias quis qui. Et dolorum est culpa voluptas quia. Tenetur praesentium voluptatem animi. Harum molestiae soluta quo sed et quisquam rerum architecto. Nesciunt quia voluptatem distinctio rem quisquam sit quidem autem quisquam.</p>
        </div>
      </div>
    </a>
    <a href="page-blog-detail" class="post">
      <div class="post__inner">
        <h3 class="post__title">Soluta Id Est</h3>
        <p class="post__date">24th October 2019</p>
        <div class="post__summary">
          <p>Veniam qui dolor quas maiores. Non et quia et veniam occaecati repellat sed est voluptatem. Suscipit iusto eos id ut earum autem sit possimus aspernatur. Tempora dolor eum. Est et doloremque voluptate voluptates.</p>
        </div>
      </div>
    </a>
</div>

