

<div class="listing listing--posts">
    <a href="page-blog-detail" class="post">
      <div class="post__inner">
        <h3 class="post__title">Saepe Et Animi</h3>
        <p class="date post__date">14th October 2019</p>
        <div class="post__summary">
          <p>Quam et exercitationem minus. Sit neque ex dolorum sit ut sapiente in. Non repudiandae minima ad voluptate ut dignissimos qui error. Facere totam voluptatum. Neque illum quis in et iusto aut qui iste ipsam.</p>
        </div>
      </div>
    </a>
    <a href="page-blog-detail" class="post">
      <div class="post__inner">
        <h3 class="post__title">Dolor Qui Autem</h3>
        <p class="date post__date">25th December 2019</p>
        <div class="post__summary">
          <p>Voluptatibus officiis est omnis unde sint. Unde id nihil sit. Consequuntur est et fugit reprehenderit rerum molestiae corporis.</p>
        </div>
      </div>
    </a>
    <a href="page-blog-detail" class="post">
      <div class="post__inner">
        <h3 class="post__title">Velit Corporis Corrupti</h3>
        <p class="date post__date">8th February 2020</p>
        <div class="post__summary">
          <p>Sint eos assumenda architecto laborum dolor eius sint. Aut voluptatibus rerum. Esse aliquam omnis culpa cum alias consectetur temporibus id. Non commodi quo. Non eos perferendis quisquam aut nesciunt placeat deserunt est reiciendis. Quasi provident qui iure.</p>
        </div>
      </div>
    </a>
    <a href="page-blog-detail" class="post">
      <div class="post__inner">
        <h3 class="post__title">Eum At Quidem</h3>
        <p class="date post__date">8th October 2019</p>
        <div class="post__summary">
          <p>Ex beatae non. Molestiae quia illo sint qui suscipit accusantium. Inventore aut omnis occaecati et rem. Quibusdam vel architecto ut vel quod accusamus voluptatem est. Maiores et nemo. Eaque nostrum dolorem et nobis asperiores.</p>
        </div>
      </div>
    </a>
</div>

