

<div class="listing listing--movies">
    <a href="page-movie-detail" class="movie">
      <div class="movie__inner">
        <div class="movie__header">
          <div class="movie__intro">
            <h3 class="movie__title">Laborum Dolor Eveniet</h3>
            <p class="date movie__year">2019</p>
          </div>
              <p class="movie__rating movie__rating--7"><strong>7</strong></p>

        </div>
        <div class="movie__summary">
          <p>Sit rerum veniam itaque id odio sint ut dignissimos voluptate. Saepe quia dolor odio unde laborum asperiores dolorum cupiditate nesciunt. Qui ipsa laudantium nobis. Ipsa ut maxime unde.</p>
        </div>
      </div>
    </a>
    <a href="page-movie-detail" class="movie">
      <div class="movie__inner">
        <div class="movie__header">
          <div class="movie__intro">
            <h3 class="movie__title">Fugit Rerum Perferendis</h3>
            <p class="date movie__year">2019</p>
          </div>
              <p class="movie__rating movie__rating--8"><strong>8</strong></p>

        </div>
        <div class="movie__summary">
          <p>Unde numquam rem est repudiandae et. Repellendus quo sit non. Ad dolores quisquam aut qui eum excepturi. Esse aut temporibus. Vel harum voluptas. Autem omnis tempore earum rem dolores aperiam illo reprehenderit.</p>
        </div>
      </div>
    </a>
    <a href="page-movie-detail" class="movie">
      <div class="movie__inner">
        <div class="movie__header">
          <div class="movie__intro">
            <h3 class="movie__title">Et Et Rerum</h3>
            <p class="date movie__year">2019</p>
          </div>
              <p class="movie__rating movie__rating--3"><strong>3</strong></p>

        </div>
        <div class="movie__summary">
          <p>Magnam adipisci voluptatem rerum minima. Nesciunt nihil sit tenetur placeat. Id debitis repellendus voluptatem eligendi culpa eum aut est quasi. Eos repellendus provident rem temporibus debitis nihil dolores praesentium aut. Autem dolorem autem dolores. Vitae sed magnam quia dolor natus ut eos incidunt.</p>
        </div>
      </div>
    </a>
    <a href="page-movie-detail" class="movie">
      <div class="movie__inner">
        <div class="movie__header">
          <div class="movie__intro">
            <h3 class="movie__title">Mollitia Labore Et</h3>
            <p class="date movie__year">2020</p>
          </div>
              <p class="movie__rating movie__rating--7"><strong>7</strong></p>

        </div>
        <div class="movie__summary">
          <p>Quo rerum earum rerum nesciunt. Fugiat eligendi sequi eos aut quasi temporibus. Ipsum quia molestias. Occaecati officia cum aut quos architecto incidunt. Sit inventore sapiente et id qui ea omnis adipisci a.</p>
        </div>
      </div>
    </a>
    <a href="page-movie-detail" class="movie">
      <div class="movie__inner">
        <div class="movie__header">
          <div class="movie__intro">
            <h3 class="movie__title">Tenetur Molestias Praesentium</h3>
            <p class="date movie__year">2020</p>
          </div>
              <p class="movie__rating movie__rating--6"><strong>6</strong></p>

        </div>
        <div class="movie__summary">
          <p>Id nobis dolorem quaerat. Quo ut quod repellat animi rem laborum. Unde voluptatem deleniti ex enim at ducimus explicabo laboriosam.</p>
        </div>
      </div>
    </a>
    <a href="page-movie-detail" class="movie">
      <div class="movie__inner">
        <div class="movie__header">
          <div class="movie__intro">
            <h3 class="movie__title">Optio Quis Et</h3>
            <p class="date movie__year">2020</p>
          </div>
              <p class="movie__rating movie__rating--5"><strong>5</strong></p>

        </div>
        <div class="movie__summary">
          <p>Vel voluptas quis et unde vel nam et. Debitis est omnis maxime dolorum dolore. Nam aut molestiae.</p>
        </div>
      </div>
    </a>
    <a href="page-movie-detail" class="movie">
      <div class="movie__inner">
        <div class="movie__header">
          <div class="movie__intro">
            <h3 class="movie__title">Natus Ut Excepturi</h3>
            <p class="date movie__year">2020</p>
          </div>
              <p class="movie__rating movie__rating--7"><strong>7</strong></p>

        </div>
        <div class="movie__summary">
          <p>Aperiam quod et voluptas sapiente recusandae sed est quisquam. Placeat vero omnis distinctio. Autem quidem ex praesentium aut quo sit expedita. Est beatae est rerum. Qui sit explicabo at minus. Velit voluptas eum quod.</p>
        </div>
      </div>
    </a>
    <a href="page-movie-detail" class="movie">
      <div class="movie__inner">
        <div class="movie__header">
          <div class="movie__intro">
            <h3 class="movie__title">Aut Vel Odit</h3>
            <p class="date movie__year">2020</p>
          </div>
              <p class="movie__rating movie__rating--2"><strong>2</strong></p>

        </div>
        <div class="movie__summary">
          <p>Magnam quia odit hic voluptatem totam. Labore magnam qui provident voluptas illo at magni veniam voluptate. Sunt vitae officia et laudantium est molestiae minus. Aut error est reiciendis. Quas incidunt qui ratione. Eaque illum quia nemo ratione.</p>
        </div>
      </div>
    </a>
    <a href="page-movie-detail" class="movie">
      <div class="movie__inner">
        <div class="movie__header">
          <div class="movie__intro">
            <h3 class="movie__title">Sapiente Aut Quia</h3>
            <p class="date movie__year">2019</p>
          </div>
              <p class="movie__rating movie__rating--4"><strong>4</strong></p>

        </div>
        <div class="movie__summary">
          <p>Enim non libero qui voluptatem magni odit dicta sit dolorum. Dicta voluptatum aperiam. Dolor maiores sit dicta velit nostrum sequi quas nostrum et. Inventore quo cumque asperiores. Delectus consequatur unde est enim ea qui. Fuga minus consectetur.</p>
        </div>
      </div>
    </a>
</div>

