

<div class="listing listing--movies">
    <a href="page-movie-detail" class="movie">
      <div class="movie__inner">
        <div class="movie__header">
          <div class="movie__intro">
            <h3 class="movie__title">Dolor Voluptatem Suscipit</h3>
            <p class="date movie__year">2020</p>
          </div>
              <p class="movie__rating movie__rating--10">10</p>

        </div>
        <div class="movie__summary">
          <p>Maxime quae eum odio doloribus eaque tempore ab. Tempora unde vel. Aspernatur quia doloribus numquam.</p>
        </div>
      </div>
    </a>
    <a href="page-movie-detail" class="movie">
      <div class="movie__inner">
        <div class="movie__header">
          <div class="movie__intro">
            <h3 class="movie__title">Fugiat Non Qui</h3>
            <p class="date movie__year">2019</p>
          </div>
              <p class="movie__rating movie__rating--7">7</p>

        </div>
        <div class="movie__summary">
          <p>Praesentium atque blanditiis ipsa ipsam aliquid rerum omnis. Amet et qui. Voluptatibus est nobis provident.</p>
        </div>
      </div>
    </a>
    <a href="page-movie-detail" class="movie">
      <div class="movie__inner">
        <div class="movie__header">
          <div class="movie__intro">
            <h3 class="movie__title">Perspiciatis Laborum Accusamus</h3>
            <p class="date movie__year">2019</p>
          </div>
              <p class="movie__rating movie__rating--2">2</p>

        </div>
        <div class="movie__summary">
          <p>Rerum alias ut dignissimos sint rerum. Nulla velit cupiditate ducimus. Voluptates recusandae sapiente et dolor voluptas aperiam aliquid qui vero. Dolore possimus voluptatem laboriosam.</p>
        </div>
      </div>
    </a>
    <a href="page-movie-detail" class="movie">
      <div class="movie__inner">
        <div class="movie__header">
          <div class="movie__intro">
            <h3 class="movie__title">Earum Aliquam Asperiores</h3>
            <p class="date movie__year">2020</p>
          </div>
              <p class="movie__rating movie__rating--10">10</p>

        </div>
        <div class="movie__summary">
          <p>Consequatur ducimus delectus mollitia ullam rerum quaerat dolor. Praesentium aut officia dignissimos omnis. Cupiditate non sed. Omnis ullam at porro et. Officiis minus sint rerum occaecati hic eaque aut explicabo.</p>
        </div>
      </div>
    </a>
    <a href="page-movie-detail" class="movie">
      <div class="movie__inner">
        <div class="movie__header">
          <div class="movie__intro">
            <h3 class="movie__title">Distinctio Eius Ad</h3>
            <p class="date movie__year">2019</p>
          </div>
              <p class="movie__rating movie__rating--5">5</p>

        </div>
        <div class="movie__summary">
          <p>Fuga alias et id sit laudantium ducimus perspiciatis rerum in. Quasi facere qui optio qui voluptatem omnis sunt dolorum. Consequatur magni itaque nesciunt est beatae ut et sapiente consequuntur. Qui molestiae aut maxime voluptate doloremque cum ut ut. Consequatur in nemo eos optio sed est.</p>
        </div>
      </div>
    </a>
    <a href="page-movie-detail" class="movie">
      <div class="movie__inner">
        <div class="movie__header">
          <div class="movie__intro">
            <h3 class="movie__title">Optio Eos Qui</h3>
            <p class="date movie__year">2019</p>
          </div>
              <p class="movie__rating movie__rating--5">5</p>

        </div>
        <div class="movie__summary">
          <p>Et magni est occaecati. Assumenda tempora deserunt. Nulla aut molestiae et et consequatur rerum minima aperiam quia. Autem ullam ducimus corporis delectus quidem. Quis deleniti voluptatem itaque veniam debitis accusantium cum ut aut.</p>
        </div>
      </div>
    </a>
    <a href="page-movie-detail" class="movie">
      <div class="movie__inner">
        <div class="movie__header">
          <div class="movie__intro">
            <h3 class="movie__title">Consequatur Earum Mollitia</h3>
            <p class="date movie__year">2019</p>
          </div>
              <p class="movie__rating movie__rating--10">10</p>

        </div>
        <div class="movie__summary">
          <p>Unde alias voluptas consequatur. Odit eum est. At possimus culpa ea.</p>
        </div>
      </div>
    </a>
    <a href="page-movie-detail" class="movie">
      <div class="movie__inner">
        <div class="movie__header">
          <div class="movie__intro">
            <h3 class="movie__title">Veniam Laborum Dignissimos</h3>
            <p class="date movie__year">2019</p>
          </div>
              <p class="movie__rating movie__rating--6">6</p>

        </div>
        <div class="movie__summary">
          <p>Perspiciatis accusantium nisi facilis. Dignissimos cumque amet facere. Magni non asperiores sit vel dolores aut expedita est labore. Et sequi nostrum et amet temporibus laboriosam. Sit cumque quisquam voluptas exercitationem et sunt.</p>
        </div>
      </div>
    </a>
    <a href="page-movie-detail" class="movie">
      <div class="movie__inner">
        <div class="movie__header">
          <div class="movie__intro">
            <h3 class="movie__title">Eaque Consequuntur Ipsa</h3>
            <p class="date movie__year">2019</p>
          </div>
              <p class="movie__rating movie__rating--7">7</p>

        </div>
        <div class="movie__summary">
          <p>Eos vitae mollitia qui accusamus expedita. Eaque ut beatae qui est eos id. Qui explicabo deserunt in et earum odio illum quae. Explicabo omnis voluptas deserunt impedit quidem. Consequatur explicabo provident quia totam sed.</p>
        </div>
      </div>
    </a>
</div>

