

    <p class="movie__rating movie__rating--inverse movie__rating--1">1</p>
    <p class="movie__rating movie__rating--inverse movie__rating--2">2</p>
    <p class="movie__rating movie__rating--inverse movie__rating--3">3</p>
    <p class="movie__rating movie__rating--inverse movie__rating--4">4</p>
    <p class="movie__rating movie__rating--inverse movie__rating--5">5</p>
    <p class="movie__rating movie__rating--inverse movie__rating--6">6</p>
    <p class="movie__rating movie__rating--inverse movie__rating--7">7</p>
    <p class="movie__rating movie__rating--inverse movie__rating--8">8</p>
    <p class="movie__rating movie__rating--inverse movie__rating--9">9</p>
    <p class="movie__rating movie__rating--inverse movie__rating--10">10</p>

