

<div class="movie">
  <div class="movie__inner">
    <h3 class="movie__title">Movie Title</h3>
    <p class="movie__watched">Last watched: <em>25th March 2020</em></p>

        <p class="movie__rating movie__rating--1"><strong>1</strong></p>

    <div class="movie__meta">
    <dl>
        <dt>Released</dt>
        <dd>2019</dd>

        <dt>Runtime</dt>
        <dd>1 hour 52 minutes</dd>

        <dt>Director</dt>
        <dd>Zoie Gottlieb</dd>

        <dt>Writer</dt>
        <dd>Hazle Dare</dd>

        <dt>Genre</dt>
        <dd>Comedy</dd>
    </dl>
</div>


    <div class="movie__summary">
      <p>Quia explicabo occaecati nesciunt nihil. Dolore nisi in sunt dolore reprehenderit. Exercitationem est quod perferendis.</p>
    </div>

    <div class="movie__review">
    <h5 class="movie__review__title">Review</h5>

    <div class="movie__review__content">
        <p>Occaecati quo in illo id qui. Et quibusdam et numquam et sequi optio harum. Et ut esse.</p><p>Consequatur asperiores eum asperiores. Et ut repellendus. Aut neque laborum quibusdam quis quis occaecati.</p><p>Doloremque laboriosam et libero ad sapiente repudiandae mollitia ut. Eum et deleniti quos et recusandae ipsa. Et autem est modi explicabo facilis ipsa dolor dolor. Recusandae ratione voluptatem minima voluptatem explicabo id ut. Eveniet nemo dolor et molestiae incidunt commodi voluptas.</p><p>Alias et veniam ullam voluptate eos et reprehenderit nesciunt qui. Aut rerum adipisci aperiam suscipit non quo voluptatem. Itaque modi doloribus aliquam optio.</p><p>Architecto reiciendis et ex ut ex accusantium veniam. Iste fugit ipsum qui quasi libero. Deleniti dicta non autem voluptas quod iusto.</p>
    </div>
</div>

  </div>
</div>

