

<div class="listing listing--movies">
    <a href="page-movie-detail" class="movie">
      <div class="movie__inner">
        <div class="movie__header">
          <div class="movie__intro">
            <h3 class="movie__title">Et Ad Fugit</h3>
            <p class="date movie__year">2019</p>
          </div>
              <p class="movie__rating movie__rating--4">4</p>

        </div>
        <div class="movie__summary">
          <p>Nostrum fuga facere. Ab veniam aut tenetur cumque ea consequatur. Sunt quis dolor quam. Sit ab corrupti voluptatibus sit ut. Dolorem hic dignissimos nihil totam.</p>
        </div>
      </div>
    </a>
    <a href="page-movie-detail" class="movie">
      <div class="movie__inner">
        <div class="movie__header">
          <div class="movie__intro">
            <h3 class="movie__title">Reiciendis Esse Autem</h3>
            <p class="date movie__year">2020</p>
          </div>
              <p class="movie__rating movie__rating--4">4</p>

        </div>
        <div class="movie__summary">
          <p>Laboriosam quae perspiciatis dolores in qui doloremque nihil accusamus optio. Dolor aut itaque. Necessitatibus ut iusto illo qui laboriosam et delectus vel. Ex fuga qui rerum voluptas sunt. Velit molestiae odit ea mollitia consequatur sit. Doloremque sapiente ea dolorem aut mollitia.</p>
        </div>
      </div>
    </a>
    <a href="page-movie-detail" class="movie">
      <div class="movie__inner">
        <div class="movie__header">
          <div class="movie__intro">
            <h3 class="movie__title">Quia Ut Sunt</h3>
            <p class="date movie__year">2020</p>
          </div>
              <p class="movie__rating movie__rating--5">5</p>

        </div>
        <div class="movie__summary">
          <p>Amet atque unde autem. Ipsam repellat veritatis nesciunt harum esse sint. Praesentium unde temporibus aut voluptas enim et. Autem rem nesciunt cum.</p>
        </div>
      </div>
    </a>
    <a href="page-movie-detail" class="movie">
      <div class="movie__inner">
        <div class="movie__header">
          <div class="movie__intro">
            <h3 class="movie__title">Nam Error Enim</h3>
            <p class="date movie__year">2019</p>
          </div>
              <p class="movie__rating movie__rating--6">6</p>

        </div>
        <div class="movie__summary">
          <p>Eos omnis voluptatem rerum natus voluptatem. Est culpa debitis nulla provident. Et cum beatae laudantium at neque nemo et eligendi dolores. Quam sunt ducimus libero quidem id. Et laboriosam accusamus asperiores.</p>
        </div>
      </div>
    </a>
    <a href="page-movie-detail" class="movie">
      <div class="movie__inner">
        <div class="movie__header">
          <div class="movie__intro">
            <h3 class="movie__title">In Sapiente Veritatis</h3>
            <p class="date movie__year">2019</p>
          </div>
              <p class="movie__rating movie__rating--8">8</p>

        </div>
        <div class="movie__summary">
          <p>Placeat omnis cupiditate ipsa quia consequatur quo omnis. Sed voluptate voluptas ducimus minima. Occaecati nulla reiciendis et.</p>
        </div>
      </div>
    </a>
    <a href="page-movie-detail" class="movie">
      <div class="movie__inner">
        <div class="movie__header">
          <div class="movie__intro">
            <h3 class="movie__title">Cumque Quis Quia</h3>
            <p class="date movie__year">2019</p>
          </div>
              <p class="movie__rating movie__rating--5">5</p>

        </div>
        <div class="movie__summary">
          <p>Aut consequatur id et assumenda hic amet. Quos et aliquid. Tempora sequi et delectus vel quis corrupti. Debitis odio similique consequuntur nisi temporibus numquam aut saepe. Dolorem aliquid reiciendis aut.</p>
        </div>
      </div>
    </a>
    <a href="page-movie-detail" class="movie">
      <div class="movie__inner">
        <div class="movie__header">
          <div class="movie__intro">
            <h3 class="movie__title">Accusamus Ratione Corporis</h3>
            <p class="date movie__year">2019</p>
          </div>
              <p class="movie__rating movie__rating--3">3</p>

        </div>
        <div class="movie__summary">
          <p>Quas amet ut ab iste ipsam vel. Optio delectus adipisci qui eligendi fuga qui similique iure ut. Cumque nesciunt corporis voluptatem reiciendis dolorum alias. Cum distinctio debitis voluptatum quis quo. Impedit ipsum aut sint.</p>
        </div>
      </div>
    </a>
    <a href="page-movie-detail" class="movie">
      <div class="movie__inner">
        <div class="movie__header">
          <div class="movie__intro">
            <h3 class="movie__title">Commodi Totam Et</h3>
            <p class="date movie__year">2019</p>
          </div>
              <p class="movie__rating movie__rating--2">2</p>

        </div>
        <div class="movie__summary">
          <p>Et non quibusdam dicta. Quibusdam rerum nulla aut iure. Quia possimus aut officiis modi excepturi amet dignissimos fugiat ab. Nihil nihil sapiente enim tempora voluptas ut.</p>
        </div>
      </div>
    </a>
    <a href="page-movie-detail" class="movie">
      <div class="movie__inner">
        <div class="movie__header">
          <div class="movie__intro">
            <h3 class="movie__title">Occaecati Non Id</h3>
            <p class="date movie__year">2019</p>
          </div>
              <p class="movie__rating movie__rating--7">7</p>

        </div>
        <div class="movie__summary">
          <p>Sed temporibus iste quo ea dicta dolorem. Non necessitatibus corrupti dolores reprehenderit omnis. Ut suscipit dignissimos voluptatem maxime sed velit aut. Ad laborum itaque voluptas aut. Eos cum rerum. Velit voluptatum deleniti assumenda est non ut est.</p>
        </div>
      </div>
    </a>
</div>

