

<header class="header">
    <h1 class="header__logo"><a href="page-homepage">TM</a></h1>

    <nav class="navigation">
    <ul>
            <li class=""><a href="page-homepage">Home</a></li>
            <li class="active"><a href="page-movie-listing">Movies</a></li>
            <li class=""><a href="page-blog-listing">Posts</a></li>
            <li class=""><a href="page-about">About</a></li>
    </ul>
</nav>

</header>


<main class="narrow">
    <div class="movie">
  <div class="movie__inner">

    <div class="movie__header">
      <div class="movie__intro">
        <h3 class="movie__title">Movie Title</h3>
        <p class="date movie__watched">Last watched: <em>5th March 2020</em></p>
      </div>
          <p class="movie__rating movie__rating--7">7</p>

    </div>

    <div class="movie__meta">
    <dl>
        <dt>Released</dt>
        <dd>2019</dd>

        <dt>Runtime</dt>
        <dd>1 hour 52 minutes</dd>

        <dt>Director</dt>
        <dd>Liliane Schmidt</dd>

        <dt>Writer</dt>
        <dd>Tess Smith</dd>

        <dt>Genre</dt>
        <dd>Comedy</dd>
    </dl>
</div>


    <div class="movie__summary">
      <p>Repellat repellat aut dolorem ab officia atque quo. Nesciunt atque quos sequi dolores minima. Omnis nulla laborum officia.</p>
    </div>

    <div class="movie__still">
    Still
</div>


    <div class="movie__poster">
    Poster
</div>


    <div class="movie__review">
    <h5 class="movie__review__title">Review</h5>

    <div class="movie__review__content rich-text">
        <p>Omnis odio ut. Enim modi quia eaque. Consequatur facere qui maxime omnis eum voluptas molestiae.</p><p>Eius quas ut dicta amet. Natus dignissimos est et aut. Molestiae qui fugit omnis sit fugit necessitatibus. Odio dolorem a quibusdam quia illo quae tempora ab non. Fugit iure doloremque non aut aut.</p><p>Labore ut aut et officia impedit quis cum voluptates facere. Laudantium qui officiis officiis aliquam quaerat tempora ipsa. Quasi et culpa consequuntur adipisci cupiditate pariatur iste. Reiciendis neque voluptas qui.</p><p>Rerum quia repudiandae. Quia molestiae perferendis velit temporibus incidunt commodi exercitationem facilis ipsam. Velit adipisci ea perferendis saepe. Alias ut praesentium quaerat soluta inventore.</p><p>Cum dolorum explicabo. Aliquam molestias ducimus culpa quo. Et est iusto. Ducimus eius consequuntur animi ut ut. Facilis labore itaque quidem.</p>
    </div>
</div>

  </div>
</div>

</main>

<footer class="footer">
    <div class="blurb">
  <div class="avatar avatar--circle avatar--small">
  <img src="../../images/avatar.jpg" alt="" title="" />
</div>


  <p class="blurb__text">My name is Trevor Morris &amp; I am a movie-loving, mountain bike-riding web developer from the UK.</p>
</div>


    <p class="footer__copyright">© 2001–2020 trovster.com</p>
</footer>


