

<header class="header">
    <h1><a href="#" class="header__logo">trovster.com</a></h1>
</header>

<nav class="navigation">
    <ul>
            <li class=""><a href="page-homepage">Home</a></li>
            <li class=""><a href="page-movie-listing">Movies</a></li>
            <li class=""><a href="page-blog-listing">Posts</a></li>
            <li class=""><a href="page-about">About</a></li>
    </ul>
</nav>


<h1 class="text-center text-3xl mb-2">Blog Posts</h1>

<div class="listing listing--posts">
    <a href="page-blog-detail" class="post">
      <div class="post__inner">
        <h3 class="post__title">Eos Placeat Accusantium</h3>
        <p class="post__date">6th September 2019</p>
        <div class="post__summary">
          <p>Tempore quos cum qui blanditiis nostrum quis iste illum. Sequi est molestiae et nostrum a dolorem deleniti repudiandae exercitationem. Earum minus numquam sint ut perspiciatis.</p>
        </div>
      </div>
    </a>
    <a href="page-blog-detail" class="post">
      <div class="post__inner">
        <h3 class="post__title">Vel Quod A</h3>
        <p class="post__date">25th December 2019</p>
        <div class="post__summary">
          <p>Dolorem quisquam in harum quidem. Ipsum dolorem consequatur accusamus a nostrum optio. Ut fuga quos.</p>
        </div>
      </div>
    </a>
    <a href="page-blog-detail" class="post">
      <div class="post__inner">
        <h3 class="post__title">Ullam Omnis Voluptatem</h3>
        <p class="post__date">22nd August 2019</p>
        <div class="post__summary">
          <p>Quis est delectus ut modi molestias dolorem et sunt. Fugiat dolore aut nemo cupiditate qui architecto est. Veritatis velit culpa. Cupiditate nesciunt suscipit explicabo dolores voluptatem aut est. Ut excepturi dolores sit qui dolorum et.</p>
        </div>
      </div>
    </a>
    <a href="page-blog-detail" class="post">
      <div class="post__inner">
        <h3 class="post__title">Sed Voluptas Consectetur</h3>
        <p class="post__date">21st July 2019</p>
        <div class="post__summary">
          <p>Sed qui sint vel asperiores. Eum sit dolor hic. Quasi nemo quos eius rem delectus. Id impedit iusto quos reprehenderit harum dolores soluta. Illum ut enim qui quis ab quod iste.</p>
        </div>
      </div>
    </a>
    <a href="page-blog-detail" class="post">
      <div class="post__inner">
        <h3 class="post__title">Facere Molestiae Magni</h3>
        <p class="post__date">18th May 2019</p>
        <div class="post__summary">
          <p>Ut ex voluptate quibusdam mollitia. Et rerum rerum. Nisi beatae quasi accusantium illum alias sint accusamus. Mollitia eum rem repellendus sed nostrum blanditiis nesciunt. Et in asperiores ipsum ducimus ut dolorem officiis quibusdam facere. Vero placeat dolorem voluptatem ea rerum harum.</p>
        </div>
      </div>
    </a>
    <a href="page-blog-detail" class="post">
      <div class="post__inner">
        <h3 class="post__title">Sed Voluptates Maxime</h3>
        <p class="post__date">28th August 2019</p>
        <div class="post__summary">
          <p>Id voluptatem sed ea harum. Vero quidem perspiciatis vitae deserunt error debitis id. Maxime facilis suscipit laudantium explicabo molestiae sunt. Repellendus odit sequi nihil. Praesentium est nostrum debitis optio dicta blanditiis voluptates et.</p>
        </div>
      </div>
    </a>
    <a href="page-blog-detail" class="post">
      <div class="post__inner">
        <h3 class="post__title">Exercitationem Enim Perspiciatis</h3>
        <p class="post__date">22nd March 2020</p>
        <div class="post__summary">
          <p>Vitae laborum est ipsam aut et ratione rerum. Soluta voluptas deserunt. Accusamus nam rerum tenetur veritatis quia qui. Facere consequuntur recusandae rem.</p>
        </div>
      </div>
    </a>
    <a href="page-blog-detail" class="post">
      <div class="post__inner">
        <h3 class="post__title">Et Nobis Iure</h3>
        <p class="post__date">12th June 2019</p>
        <div class="post__summary">
          <p>Quos deserunt et ut. Suscipit placeat aut corrupti et sapiente. Cupiditate est delectus est ducimus optio minima esse. Iure nihil eum. Consequatur saepe aut.</p>
        </div>
      </div>
    </a>
    <a href="page-blog-detail" class="post">
      <div class="post__inner">
        <h3 class="post__title">Aut Et Doloremque</h3>
        <p class="post__date">28th November 2019</p>
        <div class="post__summary">
          <p>Ea quas eveniet architecto ducimus doloribus ipsum saepe doloribus laboriosam. Qui et autem. Necessitatibus magnam quis.</p>
        </div>
      </div>
    </a>
</div>


<footer class="footer">
    <div class="blurb">
  <div class="avatar avatar--circle avatar--small">
  <img src="../../images/avatar.jpg" alt="" title="" />
</div>


  <p class="blurb__text">My name is Trevor Morris &amp; I am a movie-loving, mountain bike-riding web developer from the UK.</p>
</div>


    <p class="footer__copyright">© 2001–2020 trovster.com</p>
</footer>


