

<header class="header">
    <h1 class="header__logo"><a href="page-homepage">TM</a></h1>

    <nav class="navigation">
    <ul>
            <li class=""><a href="page-homepage">Home</a></li>
            <li class=""><a href="page-movie-listing">Movies</a></li>
            <li class="active"><a href="page-blog-listing">Posts</a></li>
            <li class=""><a href="page-about">About</a></li>
    </ul>
</nav>

</header>


<main>
    <h1 class="text-center text-3xl">Posts</h1>

    <div class="listing listing--posts">
    <a href="page-blog-detail" class="post">
      <div class="post__inner">
        <h3 class="post__title">Dignissimos Error Necessitatibus</h3>
        <p class="date post__date">2nd May 2019</p>
        <div class="post__summary">
          <p>Sunt dolorum maiores asperiores fugiat. Consequuntur in adipisci nulla enim commodi. Eaque incidunt at id impedit consectetur alias quidem.</p>
        </div>
      </div>
    </a>
    <a href="page-blog-detail" class="post">
      <div class="post__inner">
        <h3 class="post__title">Fuga Molestiae Fugit</h3>
        <p class="date post__date">14th April 2019</p>
        <div class="post__summary">
          <p>Minus eaque nihil dolor vel quas. Consequatur cupiditate dicta necessitatibus. Voluptatem similique dolore minima. Et et dolorum est quia. Eum iure fugit ducimus ipsam est doloremque dolorum et eveniet. Ut consequuntur sequi voluptates maiores quasi animi ducimus ut.</p>
        </div>
      </div>
    </a>
    <a href="page-blog-detail" class="post">
      <div class="post__inner">
        <h3 class="post__title">Dolor Voluptas Repudiandae</h3>
        <p class="date post__date">16th July 2019</p>
        <div class="post__summary">
          <p>Fugit qui et nulla eligendi. Magnam hic sint similique. Quis aut quae reprehenderit sint esse velit expedita sapiente ut. Nihil a libero sit velit. Doloribus est reprehenderit aliquid ut dolor qui quod ad. Expedita voluptatem ipsam tempore sapiente commodi odit quo non.</p>
        </div>
      </div>
    </a>
    <a href="page-blog-detail" class="post">
      <div class="post__inner">
        <h3 class="post__title">Vel Hic Ea</h3>
        <p class="date post__date">21st May 2019</p>
        <div class="post__summary">
          <p>Rerum laudantium aliquid magni eaque magni velit neque et. Reiciendis minima ad sunt amet et nesciunt. Libero sequi voluptas at reprehenderit id ut. Est deserunt nisi fugiat dolores nam doloremque omnis. Sed ratione aut.</p>
        </div>
      </div>
    </a>
</div>

</main>

<footer class="footer">
    <div class="blurb">
  <div class="avatar avatar--circle avatar--small">
  <img src="../../images/avatar.jpg" alt="" title="" />
</div>


  <p class="blurb__text">My name is Trevor Morris &amp; I am a movie-loving, mountain bike-riding web developer from the UK.</p>
</div>


    <p class="footer__copyright">© 2001–2020 trovster.com</p>
</footer>


