

<header class="header">
    <h1 class="header__logo"><a href="page-homepage">TM</a></h1>

    <nav class="navigation">
    <ul>
            <li class=""><a href="page-homepage">Home</a></li>
            <li class=""><a href="page-movie-listing">Movies</a></li>
            <li class="active"><a href="page-blog-listing">Posts</a></li>
            <li class=""><a href="page-about">About</a></li>
    </ul>
</nav>

</header>


<main>
    <h1 class="section__heading">Posts</h1>

    <div class="listing listing--posts">
  <ul>
      <li>
        <a href="page-blog-detail" class="post">
          <h3 class="post__title">Aliquam Nulla Atque</h3>
          <p class="date post__date">6th October 2019</p>
          <div class="post__summary">
            <p>Earum assumenda nesciunt voluptas quae quibusdam ratione quis. Delectus accusamus amet inventore consequuntur amet ad dolorum voluptates. Aliquid sapiente culpa magni temporibus incidunt sed. Voluptate eligendi sed possimus autem sed dolor nam sed sit. Nisi voluptas officiis enim. Minima placeat voluptate est a temporibus.</p>
          </div>
      </a>
      </li>
      <li>
        <a href="page-blog-detail" class="post">
          <h3 class="post__title">Quasi Voluptatem Blanditiis</h3>
          <p class="date post__date">17th December 2019</p>
          <div class="post__summary">
            <p>Qui facere impedit quae. Quaerat tempora sint deleniti. Sed aspernatur voluptatibus optio. Commodi perspiciatis ut doloremque quam est et dolore dicta blanditiis. Quos recusandae enim magni perferendis sequi voluptatum et minima. Laudantium sapiente autem est voluptatem consectetur sunt veniam.</p>
          </div>
      </a>
      </li>
      <li>
        <a href="page-blog-detail" class="post">
          <h3 class="post__title">Libero Dolores Assumenda</h3>
          <p class="date post__date">26th May 2019</p>
          <div class="post__summary">
            <p>Rerum autem est est quod alias. Non numquam facilis. Nemo voluptatum aut.</p>
          </div>
      </a>
      </li>
      <li>
        <a href="page-blog-detail" class="post">
          <h3 class="post__title">Et Aliquam Fuga</h3>
          <p class="date post__date">25th February 2020</p>
          <div class="post__summary">
            <p>Ab saepe qui ut repudiandae aliquam alias ut labore corrupti. Voluptatem consectetur veniam at natus nihil ut id ullam. Repellendus corrupti corrupti quaerat placeat quaerat sequi vel. Qui sunt et porro repellendus blanditiis in beatae non. Quis a quo tempore inventore modi aut.</p>
          </div>
      </a>
      </li>
  </ul>
</div>

</main>

<footer class="footer">
    <div class="blurb">
  <div class="avatar avatar--circle avatar--small">
  <img src="../../images/avatar.jpg" alt="" title="" />
</div>


  <p class="blurb__text">My name is Trevor Morris &amp; I am a movie-loving, mountain bike-riding web developer from the UK.</p>
</div>


    <p class="footer__copyright">© 2001–2020 trovster.com</p>
</footer>


