

<header class="header">
    <h1><a href="#" class="header__logo">trovster.com</a></h1>
</header>

<nav class="navigation">
    <ul>
            <li class=""><a href="page-homepage">Home</a></li>
            <li class=""><a href="page-movie-listing">Movies</a></li>
            <li class=""><a href="page-posts">Posts</a></li>
            <li class=""><a href="page-about">About</a></li>
    </ul>
</nav>


<div class="blurb blurb--large">
  <div class="avatar avatar--circle">
  <img src="../../images/avatar.jpg" alt="" title="" />
</div>


  <p class="blurb__text">My name is Trevor Morris and I am a web developer from the UK. I love to ride bikes and watch movies.</p>
</div>

<div class="listing listing--movies">
    <div class="movie movie--score-7">
  <div class="movie__inner">
    <h3 class="movie__title">Movie Title 1</h3>
    <p class="movie__year">2020</p>
    <p class="movie__rating"><strong>7</strong></p>
    <div class="movie__summary">
      <p>An undercover MI6 agent is sent to Berlin during the Cold War to investigate the murder of a fellow agent and recover a missing list of double agents.</p>
    </div>
  </div>
</div>

    <div class="movie movie--score-4">
  <div class="movie__inner">
    <h3 class="movie__title">Movie Title 2</h3>
    <p class="movie__year">2016</p>
    <p class="movie__rating"><strong>4</strong></p>
    <div class="movie__summary">
      <p>An undercover MI6 agent is sent to Berlin during the Cold War to investigate the murder of a fellow agent and recover a missing list of double agents.</p>
    </div>
  </div>
</div>

    <div class="movie movie--score-10">
  <div class="movie__inner">
    <h3 class="movie__title">Movie Title 3</h3>
    <p class="movie__year">2006</p>
    <p class="movie__rating"><strong>10</strong></p>
    <div class="movie__summary">
      <p>An undercover MI6 agent is sent to Berlin during the Cold War to investigate the murder of a fellow agent and recover a missing list of double agents.</p>
    </div>
  </div>
</div>

    <div class="movie movie--score-6">
  <div class="movie__inner">
    <h3 class="movie__title">Movie Title 4</h3>
    <p class="movie__year">2011</p>
    <p class="movie__rating"><strong>6</strong></p>
    <div class="movie__summary">
      <p>An undercover MI6 agent is sent to Berlin during the Cold War to investigate the murder of a fellow agent and recover a missing list of double agents.</p>
    </div>
  </div>
</div>

    <div class="movie movie--score-2">
  <div class="movie__inner">
    <h3 class="movie__title">Movie Title 5</h3>
    <p class="movie__year">2019</p>
    <p class="movie__rating"><strong>2</strong></p>
    <div class="movie__summary">
      <p>An undercover MI6 agent is sent to Berlin during the Cold War to investigate the murder of a fellow agent and recover a missing list of double agents.</p>
    </div>
  </div>
</div>

</div>


<footer class="footer">
    <div class="blurb">
  <div class="avatar avatar--circle avatar--small">
  <img src="../../images/avatar.jpg" alt="" title="" />
</div>


  <p class="blurb__text">My name is Trevor Morris &amp; I am a movie-loving, mountain bike-riding web developer from the UK.</p>
</div>


    <p class="footer__copyright">© 2001–2020 trovster.com</p>
</footer>


