

<header class="header">
    <h1 class="header__logo"><a href="page-homepage">TM.</a></h1>

    <nav class="navigation">
    <ul>
            <li class=""><a href="page-homepage">Home</a></li>
            <li class=""><a href="page-movie-listing">Movies</a></li>
            <li class=""><a href="page-blog-listing">Posts</a></li>
            <li class=""><a href="page-about">About</a></li>
    </ul>
</nav>

</header>


<main>
    <h1 class="text-center text-3xl mb-6">Curriculum Vitae</h1>
    <div class="flex h-screen py-16 bg-gray mb-6"></div>
</main>

<footer class="footer">
    <div class="blurb">
  <div class="avatar avatar--circle avatar--small">
  <img src="../../images/avatar.jpg" alt="" title="" />
</div>


  <p class="blurb__text">My name is Trevor Morris &amp; I am a movie-loving, mountain bike-riding web developer from the UK.</p>
</div>


    <p class="footer__copyright">© 2001–2020 trovster.com</p>
</footer>


