

<div class="listing listing--social">
  <ul>
      <li class="social social--large social--facebook">
        <a href="https://www.facebook.com/trovster" rel="external">Facebook</a>
      </li>
      <li class="social social--large social--twitter">
        <a href="https://twitter.com/trovster" rel="external">Twitter</a>
      </li>
      <li class="social social--large social--github">
        <a href="https://github.com/trovster" rel="external">GitHub</a>
      </li>
      <li class="social social--large social--instagram">
        <a href="https://instagram.com/trovster" rel="external">Instagram</a>
      </li>
      <li class="social social--large social--lastfm">
        <a href="https://www.last.fm/user/trovster" rel="external">Last.fm</a>
      </li>
      <li class="social social--large social--linkedin">
        <a href="https://www.linkedin.com/in/trovster/" rel="external">LinkedIn</a>
      </li>
  </ul>
</div>

