.movie {
    @apply relative p-6;

    &__inner {
        //
    }

    &__header {
        @apply flex justify-between items-start;
    }

    &__title {
        @apply inline px-2 py-1 -ml-2 mr-4 text-4xl leading-tight rounded-tl-sm;
        box-decoration-break: clone;
    }

    &__year,
    &__watched {
        @apply mb-2 mt-1 text-gray-light;

        em {
            @apply not-italic;
        }
    }

    &__summary {
        @apply max-w-lg;
    }
}
