@import "header/header";
@import "footer/footer";
@import "navigation/navigation";

body {
    @apply bg-background text-white font-hairline text-base;
}

main {
    @apply relative mx-auto px-6 py-3 max-w-screen-xl;

    &.narrow {
        @apply max-w-screen-md;
    }
}
