.listing--posts {
    @apply grid grid-cols-1 gap-6 py-6;

    @screen md {
        @apply grid-cols-2;
    }

    a:hover,
    a:focus,
    a:active {
        .post__title {
            @apply bg-accent;
        }
    }

    > .post {
        @apply border border-gray rounded p-4;

        .post__title {
            @apply text-2xl;
        }

        .post__summary {
            @apply text-sm;
        }
    }
}
