<div
    class="icon icon--{{ icon.modifier }}">
    <svg class="icon__svg" stroke="currentColor" fill="none" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="{{ icon.svg }}" />
    </svg>
</div>
