<div class="movie">
  <h3 class="movie__title">{{ movie.title }}</h3>
  <p class="movie__year">{{ movie.year }}</p>
  <p class="movie__rating"><strong>{{ movie.rating }}</strong></p>
  <div class="movie__summary">
    <p>{{ movie.desc }}</p>
  </div>
</div>
