.header {
    @apply flex flex-col flex-wrap justify-center px-6 mx-auto max-w-screen-xl;

    @screen sm {
        @apply flex-row justify-between;
    }

    &__logo {
        @apply font-display text-6xl text-center lowercase -mb-4;

        @screen sm {
            @apply mb-0;
        }
    }
}
