{{ render '@header' header merge=true }}

<main class="narrow">
    <h1 class="text-center text-3xl mb-6">About</h1>

    <div class="md:flex mb-6">
        {{ render '@avatar' avatar merge=true }}

        <div class="rich-text pt-6 text-center md:text-left md:pl-6">
            <p class="lede">I am a web developer working with designers and
                small agencies in and around the Midlands, UK.</p>

            <p>I develop usable and accessible front-end interfaces using web standards,
                including semantic HTML, CSS for layout and visual design, and JavaScript for
                progressive user interface enhancements.</p>

            <p>On the server side, I primarily develop using PHP and MySQL. I am confident developing
                large scale applications using Laravel and solutions using WordPress.</p>

            <p>For a more detailed view of my professional work, <a href="page-about-cv">view my CV</a>.</p>
        </div>
    </div>

</main>

{{ render '@footer' }}
