.listing--movies {
    @apply flex flex-wrap -mx-2 px-4 py-2;

    > .movie {
        @apply p-2 w-full;

        .movie__title {
            @apply text-2xl;
        }

        .movie__summary {
            @apply text-sm;
        }

        @screen md {
            @apply w-1/2;
        }

        @screen lg {
            @apply w-1/3;
        }
    }
}
