.listing--movies {
    @apply grid grid-cols-1 gap-6 py-6;

    @screen md {
        @apply grid-cols-2;
    }

    @screen lg {
        @apply grid-cols-3;
    }

    a:hover,
    a:focus,
    a:active {
        .movie__title {
            @apply bg-primary;
        }
    }

    > .movie {
        @apply border border-gray rounded p-4;

        .movie__title {
            @apply text-2xl;
        }

        .movie__summary {
            @apply text-sm;
        }
    }
}
