@import "rating/rating";
@import "listing/listing";

.movie {
    @apply relative block;

    &__inner {
        @apply p-6 border rounded-lg;
    }

    &__title {
        @apply text-2xl text-blue-700;
    }

    &__year {
        @apply text-sm text-gray-500;
    }

    &__summary {
        @apply max-w-lg mt-2;
    }
}
