

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Blog Post: Default | Component Library</title>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <div class="post">
  <div class="post__inner">
    <h3 class="post__title">Ab Iste Nemo</h3>
    <p class="post__date">4th May 2019</p>
    <div class="post__content">
        <p>Vero minus sit et iure quis nobis. Aut eum repudiandae et veritatis voluptatem deleniti facere nulla. Laudantium et alias.</p><p>Dolor ipsum itaque. Sed ipsam illum quo voluptas dolorum sed perferendis. Enim magni dolore molestias id ut expedita. Non expedita perspiciatis.</p><p>Error qui quod minima praesentium. Sed molestiae dolorum. Aliquam nihil officiis. Explicabo soluta autem iure et culpa. Omnis minus occaecati. Aperiam ut reiciendis aperiam sit alias.</p><p>Aspernatur vero maxime et assumenda. Quia dicta consequatur pariatur. Tenetur libero esse. Magni minus magni autem. Repellendus quasi distinctio pariatur fugit iste vel nostrum.</p><p>Ab aut dolorem libero et qui quae laborum facere non. Enim et nesciunt veniam. Delectus minus laboriosam. Ipsam tenetur non hic dolorum quia asperiores vitae. Aut nam qui quo tenetur.</p>

        <pre class="code code--html"><code>&lt;!DOCTYPE html&gt;
&lt;title&gt;Title&lt;/title&gt;
&lt;body&gt;
  &lt;h1 class&#x3D;&quot;text-lg color-gray-500&quot;&gt;Title&lt;/h1&gt;
  &lt;!-- here goes the rest of the page --&gt;
&lt;/body&gt;</code></pre>

    </div>
  </div>
</div>


    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

