

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Blog Listing: Default | Component Library</title>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <div class="listing listing--posts">
    <a href="page-blog-detail" class="post">
      <div class="post__inner">
        <h3 class="post__title">Dignissimos Error Necessitatibus</h3>
        <p class="date post__date">23rd June 2019</p>
        <div class="post__summary">
          <p>Sunt dolorum maiores asperiores fugiat. Consequuntur in adipisci nulla enim commodi. Eaque incidunt at id impedit consectetur alias quidem.</p>
        </div>
      </div>
    </a>
    <a href="page-blog-detail" class="post">
      <div class="post__inner">
        <h3 class="post__title">Fuga Molestiae Fugit</h3>
        <p class="date post__date">8th January 2020</p>
        <div class="post__summary">
          <p>Minus eaque nihil dolor vel quas. Consequatur cupiditate dicta necessitatibus. Voluptatem similique dolore minima. Et et dolorum est quia. Eum iure fugit ducimus ipsam est doloremque dolorum et eveniet. Ut consequuntur sequi voluptates maiores quasi animi ducimus ut.</p>
        </div>
      </div>
    </a>
    <a href="page-blog-detail" class="post">
      <div class="post__inner">
        <h3 class="post__title">Dolor Voluptas Repudiandae</h3>
        <p class="date post__date">29th March 2020</p>
        <div class="post__summary">
          <p>Fugit qui et nulla eligendi. Magnam hic sint similique. Quis aut quae reprehenderit sint esse velit expedita sapiente ut. Nihil a libero sit velit. Doloribus est reprehenderit aliquid ut dolor qui quod ad. Expedita voluptatem ipsam tempore sapiente commodi odit quo non.</p>
        </div>
      </div>
    </a>
    <a href="page-blog-detail" class="post">
      <div class="post__inner">
        <h3 class="post__title">Vel Hic Ea</h3>
        <p class="date post__date">25th October 2019</p>
        <div class="post__summary">
          <p>Rerum laudantium aliquid magni eaque magni velit neque et. Reiciendis minima ad sunt amet et nesciunt. Libero sequi voluptas at reprehenderit id ut. Est deserunt nisi fugiat dolores nam doloremque omnis. Sed ratione aut.</p>
        </div>
      </div>
    </a>
</div>


    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

