

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Blurb: Large | xxx Component Library</title>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <div class="blurb blurb--large">
  <div class="avatar avatar--circle">
  <img src="../../images/avatar.jpg" alt="" title="" />
</div>


  <p class="blurb__text">My name is Trevor Morris and I am a web developer from the UK. I love to ride bikes and watch movies.</p>
</div>


    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

