

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Code: PHP | Component Library</title>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <pre class="code code--php"><code>echo $var &#x3D;&#x3D;&#x3D; true ? &quot;Yes&quot; : &quot;No&quot;

class Factory
{
    function list(int $count &#x3D; 10);
}</code></pre>


    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

