

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Code: HTML | Component Library</title>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <pre class="code code--html"><code>&lt;!DOCTYPE html&gt;
&lt;title&gt;Title&lt;/title&gt;
&lt;body&gt;
  &lt;h1 class&#x3D;&quot;text-lg color-gray-500&quot;&gt;Title&lt;/h1&gt;
  &lt;!-- here goes the rest of the page --&gt;
&lt;/body&gt;</code></pre>


    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

