

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Code: JavaScript | Component Library</title>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <pre class="code code--js"><code>const json &#x3D; (str) &#x3D;&gt; JSON.stringify(str)

if (a &#x3D;&#x3D;&#x3D; b) {
  return false
}

return true</code></pre>


    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

