

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Movie Review: Default | Component Library</title>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <div class="movie__review">
    <h5 class="movie__review__title">Review</h5>

    <div class="movie__review__content">
        <p>Occaecati quo in illo id qui. Et quibusdam et numquam et sequi optio harum. Et ut esse.</p><p>Consequatur asperiores eum asperiores. Et ut repellendus. Aut neque laborum quibusdam quis quis occaecati.</p><p>Doloremque laboriosam et libero ad sapiente repudiandae mollitia ut. Eum et deleniti quos et recusandae ipsa. Et autem est modi explicabo facilis ipsa dolor dolor. Recusandae ratione voluptatem minima voluptatem explicabo id ut. Eveniet nemo dolor et molestiae incidunt commodi voluptas.</p><p>Alias et veniam ullam voluptate eos et reprehenderit nesciunt qui. Aut rerum adipisci aperiam suscipit non quo voluptatem. Itaque modi doloribus aliquam optio.</p><p>Architecto reiciendis et ex ut ex accusantium veniam. Iste fugit ipsum qui quasi libero. Deleniti dicta non autem voluptas quod iusto.</p>
    </div>
</div>


    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

