

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Movie Rating: Default | Component Library</title>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

        <p class="movie__rating movie__rating--1"><strong>1</strong></p>
    <p class="movie__rating movie__rating--2"><strong>2</strong></p>
    <p class="movie__rating movie__rating--3"><strong>3</strong></p>
    <p class="movie__rating movie__rating--4"><strong>4</strong></p>
    <p class="movie__rating movie__rating--5"><strong>5</strong></p>
    <p class="movie__rating movie__rating--6"><strong>6</strong></p>
    <p class="movie__rating movie__rating--7"><strong>7</strong></p>
    <p class="movie__rating movie__rating--8"><strong>8</strong></p>
    <p class="movie__rating movie__rating--9"><strong>9</strong></p>
    <p class="movie__rating movie__rating--10"><strong>10</strong></p>


    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

