

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Movie: Default | Component Library</title>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <div class="movie">
  <div class="movie__inner">

    <div class="movie__header">
      <div class="movie__intro">
        <h3 class="movie__title">Movie Title</h3>
        <p class="movie__watched">Last watched: <em>3rd November 2019</em></p>
      </div>
          <p class="movie__rating movie__rating--10"><strong>10</strong></p>

    </div>

    <div class="movie__meta">
    <dl>
        <dt>Released</dt>
        <dd>2020</dd>

        <dt>Runtime</dt>
        <dd>1 hour 52 minutes</dd>

        <dt>Director</dt>
        <dd>Tyra Terry</dd>

        <dt>Writer</dt>
        <dd>Josianne Daugherty</dd>

        <dt>Genre</dt>
        <dd>Comedy</dd>
    </dl>
</div>


    <div class="movie__summary">
      <p>Dolores commodi deserunt repellat ea et eum. Eveniet fuga consequatur perspiciatis minima aut minima placeat. Eum soluta in perspiciatis optio nostrum. Rem et et eum. In voluptatem nulla cupiditate.</p>
    </div>

    <div class="movie__review">
    <h5 class="movie__review__title">Review</h5>

    <div class="movie__review__content">
        <p>Et cupiditate sed rem qui eaque ea ipsam explicabo. Possimus placeat at ducimus vero. Quam qui mollitia illum non.</p><p>Corrupti amet voluptas dolor quasi repellendus repellat minus. Ea atque voluptatem vel suscipit. Illo est voluptatibus ut qui nobis neque et.</p><p>Illo ut quis impedit non. Minima maiores autem nam minima eos praesentium vel numquam tempore. Id nostrum deserunt ducimus voluptatem incidunt.</p><p>Ratione aut odit qui mollitia quo quibusdam alias omnis. Est aut veritatis necessitatibus mollitia similique consequatur corrupti dolores. Enim veniam omnis.</p><p>Atque autem non officiis. Delectus aliquam totam suscipit qui possimus rerum. Provident ea aut qui magnam aut. Cupiditate quidem non voluptas culpa quo dolorum tempora veniam ipsum. Est atque dolorem enim praesentium doloremque ad recusandae ut.</p>
    </div>
</div>

  </div>
</div>


    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

