

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Movie Rating: Inverse | Component Library</title>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

        <p class="movie__rating movie__rating--inverse movie__rating--1">1</p>
    <p class="movie__rating movie__rating--inverse movie__rating--2">2</p>
    <p class="movie__rating movie__rating--inverse movie__rating--3">3</p>
    <p class="movie__rating movie__rating--inverse movie__rating--4">4</p>
    <p class="movie__rating movie__rating--inverse movie__rating--5">5</p>
    <p class="movie__rating movie__rating--inverse movie__rating--6">6</p>
    <p class="movie__rating movie__rating--inverse movie__rating--7">7</p>
    <p class="movie__rating movie__rating--inverse movie__rating--8">8</p>
    <p class="movie__rating movie__rating--inverse movie__rating--9">9</p>
    <p class="movie__rating movie__rating--inverse movie__rating--10">10</p>


    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

