

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Movie Meta: Default | Component Library</title>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <div class="movie__meta">
    <dl>
        <dt>Released</dt>
        <dd>2019</dd>

        <dt>Runtime</dt>
        <dd>1 hour 52 minutes</dd>

        <dt>Director</dt>
        <dd>Liliane Schmidt</dd>

        <dt>Writer</dt>
        <dd>Tess Smith</dd>

        <dt>Genre</dt>
        <dd>Comedy</dd>
    </dl>
</div>


    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

