

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Movie: Default | xxx Component Library</title>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <div class="movie movie--score-7">
  <div class="movie__inner">
    <h3 class="movie__title">Movie Title</h3>
    <p class="movie__year">2006</p>
    <p class="movie__rating"><strong>7</strong></p>
    <div class="movie__summary">
      <p>An undercover MI6 agent is sent to Berlin during the Cold War to investigate the murder of a fellow agent and recover a missing list of double agents.</p>
    </div>
  </div>
</div>


    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

