

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Navigation: Default | xxx Component Library</title>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <nav class="navigation">
    <ul>
            <li class=""><a href="page-homepage">Home</a></li>
            <li class=""><a href="page-movie-listing">Movies</a></li>
            <li class=""><a href="page-posts">Posts</a></li>
            <li class=""><a href="page-about">About</a></li>
    </ul>
</nav>


    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

