

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Homepage: Default | Component Library</title>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <header class="header">
    <h1 class="header__logo"><a href="page-homepage">TM</a></h1>

    <nav class="navigation">
    <ul>
            <li class="active"><a href="page-homepage">Home</a></li>
            <li class=""><a href="page-movie-listing">Movies</a></li>
            <li class=""><a href="page-blog-listing">Posts</a></li>
            <li class=""><a href="page-about">About</a></li>
    </ul>
</nav>

</header>


<main>
    <div class="blurb blurb--large">
  <div class="avatar avatar--circle">
  <img src="../../images/avatar.jpg" alt="" title="" />
</div>


  <p class="blurb__text">My name is Trevor Morris and I am a web developer from the UK. I love to ride bikes and watch movies.</p>
</div>


    <h2 class="section__heading">Latest Movies Watched…</h2>
    <div class="listing listing--movies">
  <ul>
    <li>
      <a href="page-movie-detail" class="movie">
        <div class="movie__header">
          <div class="movie__intro">
            <h3 class="movie__title">Vero Magnam Nobis</h3>
            <p class="date movie__year">2019</p>
          </div>
              <p class="movie__rating movie__rating--4">4</p>

        </div>
        <div class="movie__summary">
          <p>Quos asperiores libero reprehenderit ducimus enim consectetur fugit tempora. Quaerat velit iusto non reiciendis distinctio. Consequatur aut aperiam mollitia autem. Veniam voluptate aut natus dolor explicabo. Alias exercitationem est cumque voluptas doloribus eaque quas illo est. Excepturi excepturi praesentium voluptatum voluptatem minima optio dolorem alias dolorem.</p>
        </div>
      </a>
    </li>
    <li>
      <a href="page-movie-detail" class="movie">
        <div class="movie__header">
          <div class="movie__intro">
            <h3 class="movie__title">Ut Maxime Quidem</h3>
            <p class="date movie__year">2019</p>
          </div>
              <p class="movie__rating movie__rating--5">5</p>

        </div>
        <div class="movie__summary">
          <p>Et velit molestiae accusamus. Explicabo earum deleniti commodi voluptas. Facere sed illum in.</p>
        </div>
      </a>
    </li>
    <li>
      <a href="page-movie-detail" class="movie">
        <div class="movie__header">
          <div class="movie__intro">
            <h3 class="movie__title">Dolore Consequatur Veritatis</h3>
            <p class="date movie__year">2019</p>
          </div>
              <p class="movie__rating movie__rating--10">10</p>

        </div>
        <div class="movie__summary">
          <p>Unde voluptas non. Vel enim et sint soluta eveniet placeat illum voluptatem facilis. Ut ipsum temporibus sunt.</p>
        </div>
      </a>
    </li>
    <li>
      <a href="page-movie-detail" class="movie">
        <div class="movie__header">
          <div class="movie__intro">
            <h3 class="movie__title">Enim Sit Est</h3>
            <p class="date movie__year">2019</p>
          </div>
              <p class="movie__rating movie__rating--3">3</p>

        </div>
        <div class="movie__summary">
          <p>Ea in laborum quaerat aut nemo pariatur natus eum. Eos ea inventore fugit quae qui ea laboriosam ad. Facere nisi pariatur. Itaque dicta aspernatur autem sunt ut.</p>
        </div>
      </a>
    </li>
    <li>
      <a href="page-movie-detail" class="movie">
        <div class="movie__header">
          <div class="movie__intro">
            <h3 class="movie__title">Rem Animi Iure</h3>
            <p class="date movie__year">2020</p>
          </div>
              <p class="movie__rating movie__rating--2">2</p>

        </div>
        <div class="movie__summary">
          <p>Tempore in ab alias officia expedita non quae et ea. Autem suscipit officia nam dolore voluptatem quasi dolorem perspiciatis porro. Laudantium eius fugit provident qui delectus sed doloremque dolor soluta. Tempore dolorum aut beatae laboriosam numquam non a et. Atque a beatae omnis veniam. Non in qui quia.</p>
        </div>
      </a>
    </li>
    <li>
      <a href="page-movie-detail" class="movie">
        <div class="movie__header">
          <div class="movie__intro">
            <h3 class="movie__title">Mollitia Commodi Voluptate</h3>
            <p class="date movie__year">2019</p>
          </div>
              <p class="movie__rating movie__rating--8">8</p>

        </div>
        <div class="movie__summary">
          <p>Nulla doloribus assumenda id. Doloremque velit ipsa ipsam recusandae qui ipsum cum. Quas eum iste facere eum voluptas. Neque facere sit corrupti necessitatibus sunt et laborum quis. Praesentium placeat sit et eligendi reiciendis.</p>
        </div>
      </a>
    </li>
    <li>
      <a href="page-movie-detail" class="movie">
        <div class="movie__header">
          <div class="movie__intro">
            <h3 class="movie__title">Aut Voluptatibus Consequatur</h3>
            <p class="date movie__year">2019</p>
          </div>
              <p class="movie__rating movie__rating--6">6</p>

        </div>
        <div class="movie__summary">
          <p>Officia architecto et. Labore tempore aliquid. Nihil quo dolorem.</p>
        </div>
      </a>
    </li>
    <li>
      <a href="page-movie-detail" class="movie">
        <div class="movie__header">
          <div class="movie__intro">
            <h3 class="movie__title">Omnis Et Magni</h3>
            <p class="date movie__year">2019</p>
          </div>
              <p class="movie__rating movie__rating--8">8</p>

        </div>
        <div class="movie__summary">
          <p>Earum quo nihil quia. Adipisci incidunt ad laudantium totam. Rerum eveniet eos. Nulla illum et.</p>
        </div>
      </a>
    </li>
    <li>
      <a href="page-movie-detail" class="movie">
        <div class="movie__header">
          <div class="movie__intro">
            <h3 class="movie__title">Id Expedita Eaque</h3>
            <p class="date movie__year">2019</p>
          </div>
              <p class="movie__rating movie__rating--7">7</p>

        </div>
        <div class="movie__summary">
          <p>Aspernatur dolorem optio. Saepe eum non velit autem at. Illo sit sequi ut earum ut quas ea totam. Repudiandae optio minima cum quia.</p>
        </div>
      </a>
    </li>
  </ul>
</div>


    <h2 class="section__heading">Latest Posts…</h2>
    <div class="listing listing--posts">
  <ul>
      <li>
        <a href="page-blog-detail" class="post">
          <h3 class="post__title">Aliquam Nulla Atque</h3>
          <p class="date post__date">26th December 2019</p>
          <div class="post__summary">
            <p>Earum assumenda nesciunt voluptas quae quibusdam ratione quis. Delectus accusamus amet inventore consequuntur amet ad dolorum voluptates. Aliquid sapiente culpa magni temporibus incidunt sed. Voluptate eligendi sed possimus autem sed dolor nam sed sit. Nisi voluptas officiis enim. Minima placeat voluptate est a temporibus.</p>
          </div>
      </a>
      </li>
      <li>
        <a href="page-blog-detail" class="post">
          <h3 class="post__title">Quasi Voluptatem Blanditiis</h3>
          <p class="date post__date">16th February 2020</p>
          <div class="post__summary">
            <p>Qui facere impedit quae. Quaerat tempora sint deleniti. Sed aspernatur voluptatibus optio. Commodi perspiciatis ut doloremque quam est et dolore dicta blanditiis. Quos recusandae enim magni perferendis sequi voluptatum et minima. Laudantium sapiente autem est voluptatem consectetur sunt veniam.</p>
          </div>
      </a>
      </li>
      <li>
        <a href="page-blog-detail" class="post">
          <h3 class="post__title">Libero Dolores Assumenda</h3>
          <p class="date post__date">11th January 2020</p>
          <div class="post__summary">
            <p>Rerum autem est est quod alias. Non numquam facilis. Nemo voluptatum aut.</p>
          </div>
      </a>
      </li>
      <li>
        <a href="page-blog-detail" class="post">
          <h3 class="post__title">Et Aliquam Fuga</h3>
          <p class="date post__date">13th October 2019</p>
          <div class="post__summary">
            <p>Ab saepe qui ut repudiandae aliquam alias ut labore corrupti. Voluptatem consectetur veniam at natus nihil ut id ullam. Repellendus corrupti corrupti quaerat placeat quaerat sequi vel. Qui sunt et porro repellendus blanditiis in beatae non. Quis a quo tempore inventore modi aut.</p>
          </div>
      </a>
      </li>
  </ul>
</div>

</main>

<footer class="footer">
    <div class="blurb">
  <div class="avatar avatar--circle avatar--small">
  <img src="../../images/avatar.jpg" alt="" title="" />
</div>


  <p class="blurb__text">My name is Trevor Morris &amp; I am a movie-loving, mountain bike-riding web developer from the UK.</p>
</div>


    <p class="footer__copyright">© 2001–2020 trovster.com</p>
</footer>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

