

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Movie Detail: Default | xxx Component Library</title>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <header class="header">
    <h1><a href="#" class="header__logo">trovster.com</a></h1>
</header>

<nav class="navigation">
    <ul>
            <li class=""><a href="page-homepage">Home</a></li>
            <li class=""><a href="page-movie-listing">Movies</a></li>
            <li class=""><a href="page-posts">Posts</a></li>
            <li class=""><a href="page-about">About</a></li>
    </ul>
</nav>


<div class="container mx-auto">
    <div class="movie movie--score-7">
  <div class="movie__inner">
    <h3 class="movie__title">Movie Title</h3>
    <p class="movie__year">2006</p>
    <p class="movie__rating"><strong>7</strong></p>
    <div class="movie__summary">
      <p>An undercover MI6 agent is sent to Berlin during the Cold War to investigate the murder of a fellow agent and recover a missing list of double agents.</p>
    </div>
  </div>
</div>

</div>

<footer class="footer">
    <div class="blurb">
  <div class="avatar avatar--circle avatar--small">
  <img src="../../images/avatar.jpg" alt="" title="" />
</div>


  <p class="blurb__text">My name is Trevor Morris &amp; I am a movie-loving, mountain bike-riding web developer from the UK.</p>
</div>


    <p class="footer__copyright">© 2001–2020 trovster.com</p>
</footer>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

